<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Bitcoin Order Form</span>
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="column"> 
  <form [formGroup]="form" (ngSubmit)="addOrder()" #formDirective="ngForm">
    <mat-card>

      <div> 
        <mat-form-field fxLayout="row" fxFlex="auto" fxLayoutGap="10px">
        <mat-label for="name">Name: </mat-label>
        <input matInput id="name" formControlName="name">
        <mat-hint>Please input your name</mat-hint>
        <mat-error *ngIf="nameCtrl.hasError('required')">Name is required</mat-error>
      </mat-form-field>  
    </div>

    <div>
      <mat-form-field fxLayout="row" fxFlex="auto">
        <mat-label for="contact">Contact: </mat-label>
        <input matInput type="text" id="contact" formControlName="contact" placeholder="Eg. 9XXXXXXX">
        <mat-error *ngIf="contactCtrl.hasError('required')">Contact number is required</mat-error>
        <mat-error *ngIf="contactCtrl.hasError('pattern')">Please input a valid SG number</mat-error>
      </mat-form-field>
    </div>

    <div>
        <mat-radio-group aria-label="select gender" formControlName="gender" fxFlex="auto">
        <mat-label>Gender: </mat-label>
        <mat-radio-button *ngFor='let x of genderArr' value="{{x}}">{{x}} &nbsp;</mat-radio-button>
        <mat-error *ngIf="genderCtrl.invalid && (genderCtrl.dirty || genderCtrl.touched)">Please input your gender</mat-error>
      </mat-radio-group>
    </div>

    <div>
        <mat-form-field>
          <label>Date of Birth: </label>
          <input matInput [matDatepicker]="dobPicker" formControlName="dob" [max]="today">
          <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
          <mat-datepicker #dobPicker></mat-datepicker>
          <mat-error *ngIf="dobCtrl.hasError('invalidAge')">You need to be over 21</mat-error>
          <mat-error *ngIf="dobCtrl.hasError('required')">Please input your date of birth</mat-error>
          <mat-error *ngIf="dobCtrl.invalid">Date entered is invalid</mat-error>
        </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <label>Order Date: </label>
        <input matInput [matDatepicker]="picker" formControlName="orderDate" [min]="today">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="orderDateCtrl.hasError('required')">Date of order is required</mat-error>
        <mat-error *ngIf="orderDateCtrl.invalid">Date entered is invalid</mat-error>
      </mat-form-field>
    </div>

    <div>
      <label>Order Type: </label>
      <mat-radio-group aria-label="select order type" formControlName="orderType" fxLayout="row">
        <mat-radio-button value="buy" (click)="form.controls['paymentURL'].reset()">Buy &nbsp;</mat-radio-button>
          <mat-form-field *ngIf="form.get('orderType').value == 'buy'">
            <label>Input Paynow/Paylah QR Code URL: </label>
            <input matInput type="url" formControlName="paymentURL" placeholder="Enter your QR Code Url">
            <mat-error *ngIf="paymentURLCtrl.hasError('required')">QR Code URL is required for payment</mat-error>
            <mat-error *ngIf="paymentURLCtrl.hasError('invalidURL')">a valid URL is required for payment purposes</mat-error>
        </mat-form-field>
        
        <mat-radio-button value="sell" (click)="form.controls['paymentURL'].reset()">Sell &nbsp;</mat-radio-button>
          <mat-form-field *ngIf="form.get('orderType').value == 'sell'">
            <label>Input Bitcoin Address: </label>
            <input matInput type="url" formControlName="paymentURL" placeholder="Enter your BitCoin address Url"> 
            <mat-error *ngIf="form.get('paymentURL').hasError('required')">Bitcoin Address URL is required for payment purposes</mat-error>
            <mat-error *ngIf="paymentURLCtrl.hasError('invalidURL')">a valid URL is required for payment purposes</mat-error>
        </mat-form-field>
      </mat-radio-group>
    </div>

    <div>
      <mat-form-field>
        <label for="orderUnit">Order Unit: </label>
        <input matInput type="number" id="orderUnit" formControlName="orderUnit" (keyup)='calcTotalAmt($event)'> 
        <mat-error *ngIf="form.get('orderUnit').invalid || form.get('orderUnit').touched || form.get('orderUnit').dirty">No. of units is required</mat-error>
      </mat-form-field>
    </div>

    <div class="displaySGDBTC">
      <label>Current Rate for SGD/BTC: 
      1: {{btcRate}}
    </label>
    </div>

    <div>
      <label>Total Amount: S${{totalCost}}</label>
    </div>
    <p></p>
    <div fxLayoutAlign="space-between start">
      <button type="submit" [disabled]='form.invalid'>Submit Order</button>
      <button type="reset" (click)=resetForm()>Reset Order</button>
    </div>
      
    </mat-card>
  </form>
</div>