<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Bitcoin Order Form</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="card" fxLayoutAlign="center">
  <form [formGroup]="form" (ngSubmit)="addOrder()">
    <mat-card>
      <div>
      <mat-form-field>
        <label for="name">Name: </label>
        <input matInput id="name" formControlName="name">
        <mat-error *ngIf="form.get('name').hasError('required')">Please input your name</mat-error>

      </mat-form-field>  
    </div>
    <div>
      <mat-form-field>
        <label for="contact">Contact: </label>
        <input matInput type="number" id="contact" formControlName="contact">
        <mat-error *ngIf="form.get('contact').hasError('pattern')">Please input a valid Singapore Number</mat-error>
        
      </mat-form-field>
    </div>
    <div>
      <label>Gender: </label>
      <mat-radio-group aria-label="select gender" formControlName="gender">
        <mat-radio-button value="male">Male &nbsp;</mat-radio-button>
        <mat-radio-button value="female">Female &nbsp;</mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
        <mat-form-field>
          <label>Date of Birth: </label>
          <input matInput [matDatepicker]="dobPicker" formControlName="orderDate" [max]="today">
          <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
          <mat-datepicker #dobPicker></mat-datepicker>
        </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <label>Order Date: </label>
        <input matInput [matDatepicker]="picker" formControlName="orderDate" [min]="today">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <label>Order Type: </label>
      <mat-radio-group aria-label="select order type" formControlName="orderType">
        <mat-radio-button value="buy">Buy &nbsp;</mat-radio-button>
        <div *ngIf="form.get('orderType').value == 'buy'">
          <label>Input Paynow/Paylah QR Code URL: </label>
          <input matInput type="text" formControlName="paymentUrl">
        </div>
        <mat-radio-button value="sell">Sell &nbsp;</mat-radio-button>
        <div *ngIf="form.get('orderType').value == 'sell'">
          <label>Input Bitcoin Address: </label>
          <input matInput type="text" formControlName="paymentUrl"> 
        </div>
      </mat-radio-group>
    </div>

    <div>
      <mat-form-field>
        <label for="orderUnit">Order Unit: </label>
        <input matInput type="number" id="orderUnit" formControlName="orderUnit">
      </mat-form-field>
    </div>

    <div class="displaySGDBTC">
      <label>Current Rate for SGD/BTC: 
      1: {{btcRate}}
    </label>
    </div>

    <div>
      <label for="totalAmt">Total Amount: </label>
    </div>
    <p></p>
    <div fxLayoutAlign="space-between start">
      <button type="submit" [disabled]='form.invalid'>Submit Order</button>
      <button type="reset">Reset Order</button>
    </div>
      
    </mat-card>
  </form>
</div>